<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
    
        <title>SUCI Tool</title>
    
        <!-- Bootstrap core CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="dashboard.css" rel="stylesheet">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="label" href="#" style="color: aliceblue">G+D Project</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" 
          aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
              
              <li class="nav-item ">
                <a class="nav-link" href="/suciencrypt" id="dropdown07" 
                aria-haspopup="true" aria-expanded="false">SUCI Encryption</a>
                
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/sucidecrypt" id="dropdown07" 
                aria-haspopup="true" aria-expanded="false">SUCI Decryption</a>
                
              </li>
              
            </ul>
            
          </div>
        </div>
        </nav>
    </body>
  </html>
            